@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&family=Roboto:ital@1&display=swap');


* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(222, 246, 215, 0.886);
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  margin-bottom: 40px;
  font-size: larger;
}

.navbar-brand, .navbar-nav{
  font-family: 'Roboto', sans-serif;
}

main{
  padding: 10px;
}

.imagenes-container{
  padding: 1em;
  margin-top: 15px;
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  "foto1"
  "foto3" 
  "foto4";
}
.foto1, .foto3, .foto4{
  border: 3px solid black;

}
.foto1{
  max-width: 259px;
  max-height: 195px;
  display: grid;
  grid-area: foto1;
  margin-bottom: 30px;
}
.foto3{
  max-width: 259px;
  max-height: 195px;
  display: grid;
  grid-area: foto3;
}
.foto4{
  max-width: 201px;
  max-height: 201px;
  display: grid;
  grid-area: foto4;
}


.navbar-brand{
  text-decoration: none;
  color: black;
}
.nav-link{
  text-decoration: none;
  color: black;
}
h1{
  text-align: center;
}
h2{
  text-align: center;
  margin-bottom: 10px;
  margin-top: 20px;
}
h1, .texto-principal, .imagenes-container{
  border: 3px solid rgb(231, 240, 252);
}
p{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 1em;
}

.texto-principal{
  text-align:center;
}

.contaier-fluid{
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  justify-content:left;
  align-items: center;
}

footer {
  background-color: rgb(231, 240, 252);
  margin-top: 1.5em;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  padding: 3em;
}

.redes a:hover{
  bottom: 6px;
  position: relative;
}
.redes {
  display: flex;
}

.redes a {
  display: flex;
}

.grilla {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "titulo"
    "monotributo"
    "iva"
    "iibb";
    margin-top: 15px;
    padding: 1em;
}

.monotributo {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 150px 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "img img img"
    "parrafo parrafo parrafo"
    "parrafo parrafo parrafo";
  grid-area: monotributo;
  padding: 1em;
}

.img { grid-area: img;
  display: flex;
  justify-content: center; }

.parrafo { grid-area: parrafo; }

.iva {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 150px 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "im im im"
    "texto texto texto"
    "texto texto texto";
  grid-area: iva;
  padding: 1em;
}

.im { grid-area: im;
display: flex;
justify-content: center; }

.texto { grid-area: texto; }

.iibb {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 150px 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "imag imag imag"
    "texot texot texot"
    "texot texot texot";
  grid-area: iibb;
  padding: 1em;
}

.imag { grid-area: imag;
  display: flex;
  justify-content: center; }

.texot { grid-area: texot; }

.titulo { grid-area: titulo;
text-align: center; 
text-decoration: underline;
}

.grilla img{
  width: 339px;
  height: 139px;
}

main{
  grid-area: main;
}

nav{
  grid-area: nav;
  background-color: rgb(231, 240, 252);
}

.imagenes-container{
  grid-area: imagenes;
  grid-row-gap: 24px;
}
.img-wrapper {
  display: flex;
  justify-content: center;
}
.video-container{
  grid-area: video;
}
footer{
  grid-area: footer;
}
.estudio-contable{
  margin-bottom: 1.5em;
  display: grid;
  gap: 20px;
  grid-template-areas: 
  "nav"
  "main"
  "imagenes"
  "video"
  "footer";
}
.video1{
  margin: auto;
  display: flex;
  justify-content: center;
  width: 90%;
  max-width: 560px;
}
.pys{
  margin: auto;
  display: flex;
  justify-content: center;
  width: 300px;
  height: 190px;
}
.video2{
    margin: auto;
    display: flex;
    justify-content: center;
}

.presentacion{
  padding: 1em;
  text-align: center;
}

.form{
  background-color: rgb(231, 240, 252);
  margin: auto;
  width: 90%;
  max-width: 400px;
  padding: 2em 2em;
  border-radius: 10px;
  box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
  text-align: center;
}
.form-title{
  font-size: 1.5rem;
  margin-bottom: .5em;
}
.form-parrafo{
  font-weight: 300;
}
.form-container{
  margin-top: 3em;
  display: grid;
  gap: 2.5em;
}
.form-group{
  position: relative;
  --color: #5757577e;
}
.form.input{
  width: 100%;
  background: none;
  color: black;
  font-size: 1rem;
  padding: .6em .3em;
}

.enviar{
  background: rgba(222, 246, 215, 0.886);
  font-weight: 300;
  font-size: 1rem;
  padding: .8em 0;
  border: none;
  border-radius: .5em;
  text-align: center;
}
.form-line{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #8da7f5;
}

.mision-vision{
  display: flex;
  flex-direction: column;
}
.mision{
  margin-bottom: 20px;
}
.mision, 
.vision{
  border: 10px solid rgb(231, 240, 252);
  box-sizing: border-box;
}

@media (min-width: 600px){
  .mision-vision{
    flex-direction: row;
    justify-content: space-around;
  }

.mision, 
.vision{
  width: 45%;
  border: 10px solid rgb(231, 240, 252);
  box-sizing: border-box;
}


}


@media (min-width:768px){
  .estudio-contable{
    margin: 0;
    grid-template-columns: 1fr 0.15fr;
    grid-template-areas: 
    "nav nav"
    "main imagenes"
    "video imagenes"
    "footer footer";
  }
}
.imagenes-container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "foto1"
  "foto3"
  "foto4";
}

@media (min-width:1024px){
  .grilla {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20px 150px 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "titulo titulo titulo"
      "monotributo iva iibb"
      "monotributo iva iibb";
      margin-top: 50px;
      padding: 1em;
  }
  
  .monotributo {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "img img img"
      "parrafo parrafo parrafo"
      "parrafo parrafo parrafo";
    grid-area: monotributo;
    padding: 1em;
  }
  
  .img { grid-area: img;
    display: flex;
    justify-content: center; }
  
  .parrafo { grid-area: parrafo; }
  
  .iva {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "im im im"
      "texto texto texto"
      "texto texto texto";
    grid-area: iva;
    padding: 1em;
  }
  
  .im { grid-area: im;
  display: flex;
  justify-content: center; }
  
  .texto { grid-area: texto; }
  
  .iibb {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "imag imag imag"
      "texot texot texot"
      "texot texot texot";
    grid-area: iibb;
    padding: 1em;
  }
  
  .imag { grid-area: imag;
    display: flex;
    justify-content: center; }
  
  .texot { grid-area: texot; }
  
  .titulo { grid-area: titulo;
  text-align: center; }
  
  .grilla img{
    width: 339px;
    height: 139px;
  }

}
